@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100;1,300;1,400&display=swap');

body{
    background-image: url();  
    background-size: cover;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}

.nav-link{
    text-transform: uppercase;
    color: black !important;
    font-size: 25px;
}

section.banners {
    padding: 40px 0;
}

.footer{
    background-color: darkgray;
    color: black;
    padding: 10px;
    text-transform: capitalize;
    text-align:center;
}

.footer a{
    text-decoration: none;
    color: black;
}



@media screen and (min-width:360px) and (max-width: 640px) {

    img.logo {
        width: 350px;
    }

    .nav-link{
        font-size: 18px;
    }

    div#navbar-links{
        display: block;
        text-align: -webkit-center;
    }
    
    i {
        font-size: 15px;
    }
}