@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100;1,300;1,400&display=swap');

body{
    background-image: url();  
    background-size: cover;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}

.nav-link{
    text-transform: uppercase;
    color: black !important;
    font-size: 25px;
}

h5.card-title {
    text-align: center;
}

p.card-text {
    text-align: justify;
}

a.btn.btn-primary {
    background-color: black;
    border-color: black;
}

.footer{
    background-color: darkgray;
    color: black;
    padding: 10px;
    text-transform: capitalize;
    text-align:center;
}

.footer a{
    text-decoration: none;
    color: black;
}


@media screen and (min-width:360px) and (max-width: 640px) {

    img {
        width: 350px;
    }
}